<h1><%= @kinds.model_name.human(count: 2) %></h1>
<div class="card shadow p-3 mb-5">   
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th><%= @kinds.human_attribute_name("name") %></th>
            <th><%= @kinds.human_attribute_name("user") %></th>
            <th><%= t('helpers.submit.actions') %></th>
          </tr>
        </thead>

        <tbody>
          <% @kinds.each do |kind| %>
            <tr>
              <td><%= kind.name %></td>
              <td><%= kind.user.name %></td>
              <td><%= link_to edit_kind_path(kind), class: "btn btn-info btn-circle" do %><i class="fa fa-edit"></i><% end %>
              <%= link_to kind_path(kind), method: :delete, class: "btn btn-danger btn-circle", data: { confirm: 'Are you sure?' } do  %> <i class="fa fa-trash"></i> <% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>

    <%= link_to t('actions.new', model: @kinds.model_name.human), new_kind_path, class: "btn btn-primary" %>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <%= paginate @kinds %>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
