<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @source.phone %>
</p>

<p>
  <strong>User:</strong>
  <%= @source.user %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
