<div class="card shadow p-3 mb-5"> 
  <div class="card-body">
	<%= form_with(url: "/invoice/index", local: true, method: "get") do %>
	  <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
	  		<!--<%= date_select(:date, "date", discard_day: true) %>-->
	  		<%= text_field_tag :date, "Vencimento fatura", class: "form-control", id: "invoice_date" %>
	  	  </div>
	  	</div>
	  	<div class="col-sm-4">
          <div class="form-group">
	  		<%= select_tag(:card_id, options_from_collection_for_select(@cards, "id", "card_name"), prompt: "Selecione o cartão", class: "form-control") %>
	  	  </div>
	    </div>
	    <div class="col-sm-4">
          <div class="form-group">
	        <%= submit_tag "Search", class: "btn btn-primary" %>
	      </div>
	    </div>
	  </div>
	<% end %>
  </div>
</div>

<div class="card shadow p-3 mb-5"> 
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th><%= @expense_cards.human_attribute_name("value") %></th>
	        <th><%= @expense_cards.human_attribute_name("card_id") %></th>
	        <th><%= @expense_cards.human_attribute_name("invoice_date") %></th>
          </tr>
        </thead>

        <tbody>
          <% @expense_cards.each do |expense| %>
            <tr>
              <td><%= humanized_money_with_symbol expense.value %></td>
	          <td><%= expense.card.card_name %></td>
	          <td><%= expense.invoice_date %></td>    
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
