 <h3><%= t("views.my_balances")%> </h3>

 <!-- Icon Cards-->
<div class="row">
	<% @accounts.each do |account| %> 
	  <div class="col-xl-3 col-sm-6 mb-3">
	    <div class="card text-white bg-success shadow p-3 mb-5">
	      <div class="card-body">
	      	<h5 class="card-title"><%= account.bank %></h5>
	        <div class="card-body-icon">
	          <i class="fa fa-fw fa-money"></i>
	        </div>
	        <div class="mr-5"><%= humanized_money_with_symbol account.balance %></div>
	      </div>
	      <%= link_to edit_account_path(account), class: "card-footer text-white clearfix small z-1" do %>
	        <span class="float-left"><%= t("views.details")%></span>
	        <span class="float-right">
	          <i class="fa fa-angle-right"></i>
	        </span>
	      <% end %>
	    </div>
	  </div>
	<% end %>
</div>
<hr>
<h3><%= t("views.my_expenses")%></h3>
<div class="row">
	 
  <div class="col-xl-6 col-sm-6 mb-3">
    <div class="card text-white bg-danger shadow p-3 mb-5">
      <div class="card-body">
      	<h5 class="card-title"><%= t("views.opened_values")%></h5>
        <div class="card-body-icon">
          <i class="fa fa-fw fa-money"></i>
        </div>
        <div class="mr-5"> <%= humanized_money_with_symbol divide_by_100(@expenses_open) %></div>
      </div>
      <%= link_to expenses_path, class: "card-footer text-white clearfix small z-1" do %>
        <span class="float-left"><%= t("views.details")%></span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      <% end %>
    </div>
  </div>

  <div class="col-xl-6 col-sm-6 mb-3">
    <div class="card text-white bg-primary shadow p-3 mb-5">
      <div class="card-body">
      	<h5 class="card-title"><%= t("views.paid_values")%></h5>
        <div class="card-body-icon">
          <i class="fa fa-fw fa-money"></i>
        </div>
        <div class="mr-5"> <%= humanized_money_with_symbol divide_by_100(@expenses_paid) %></div>
      </div>
      <%= link_to expenses_path, class: "card-footer text-white clearfix small z-1" do %>
        <span class="float-left"><%= t("views.details")%></span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      <% end %>
    </div>
  </div>
	 
</div>

<hr>
<h3><%= t("views.my_cards")%> </h3>
<div class="row">
  <% @cards.each do |card| %>
    <div class="col-xl-12 col-sm-12 mb-3">
      <h5><%= card.card_name %></h5>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= "#{percent_card(card.balance_card, card.limit_value)}" %>%;" aria-valuenow="<%= percent_card(card.balance_card, card.limit_value) %>" aria-valuemin="0" aria-valuemax="100"><%= percent_card(card.balance_card, card.limit_value) %>%</div>
      </div>
    </div>
  <% end %>
</div>
