<h1><%= @incomes.model_name.human(count: 2) %></h1>
<div class="card shadow p-3 mb-5"> 
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th><%= @incomes.human_attribute_name("receipt_date") %></th>
            <th><%= @incomes.human_attribute_name("value") %></th>
            <th><%= @incomes.human_attribute_name("user") %></th>
            <th><%= t('helpers.submit.actions') %></th>
          </tr>
        </thead>

        <tbody>
          <% @incomes.each do |income| %>
            <tr>
              <td><%= income.receipt_date %></td>
              <td><%= income.value %></td>
              <td><%= income.user.name %></td>
              <td><%= link_to edit_income_path(income), class: "btn btn-info btn-circle" do %><i class="fa fa-edit"></i><% end %>
              <%= link_to income_path(income), method: :delete, class: "btn btn-danger btn-circle", data: { confirm: 'Are you sure?' } do  %> <i class="fa fa-trash"></i> <% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>

    <%= link_to t('actions.new(a)', model: @incomes.model_name.human), new_income_path, class: "btn btn-primary" %>
  </div>
</div>
