<p id="notice"><%= notice %></p>

<p>
  <strong>Closing date:</strong>
  <%= @card.closing_date %>
</p>

<p>
  <strong>Invoice date:</strong>
  <%= @card.invoice_date %>
</p>

<p>
  <strong>Limit value:</strong>
  <%= @card.limit_value %>
</p>

<p>
  <strong>User:</strong>
  <%= @card.user %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
