<div class="modal fade" id="newSupplierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t("actions.new", model: @supplier.model_name.human) %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: @supplier, remote: true) do |form| %>
          <% if @supplier.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this @supplier from being saved:</h2>

              <ul>
              <% @supplier.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= form.label :name %>
                <%= form.text_field :name, class: "form-control", required: "required" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= form.label :phone %>
                <%= form.text_field :phone, class: "form-control", required: "required" %>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <%= form.submit t("helpers.submit.create"), class: "btn btn-primary" %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>