<h1><%= @expenses.model_name.human(count: 2) %></h1>
<div class="card shadow p-3 mb-5"> 
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th><%= @expenses.human_attribute_name("duedate") %></th>
            <th><%= @expenses.human_attribute_name("category_id") %></th>
            <th><%= @expenses.human_attribute_name("supplier_id") %></th>
            <th><%= @expenses.human_attribute_name("status") %></th>
            <th><%= @expenses.human_attribute_name("value") %></th>
            <th><%= @expenses.human_attribute_name("user") %></th>
            <th><%= t('helpers.submit.actions') %></th>
          </tr>
        </thead>

        <tbody>
          <% @expenses.each do |expense| %>
            <tr>
              <td><%= expense.duedate %></td>
              <td><%= expense.category.name %></td>
              <td><%= expense.supplier.name %></td>
              <td><%= expense.status %></td>
              <td><%= expense.value %></td>
              <td><%= expense.user.name %></td>
              <td><%= link_to edit_expense_path(expense), class: "btn btn-info btn-circle" do %><i class="fa fa-edit"></i><% end %>
              <%= link_to expense_path(expense), method: :delete, class: "btn btn-danger btn-circle", data: { confirm: 'Are you sure?' } do  %> <i class="fa fa-trash"></i> <% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>

    <%= link_to t('actions.new(a)', model: @expenses.model_name.human), new_expense_path, class: "btn btn-primary" %>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <%= paginate @expenses %>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
