<!DOCTYPE html>
<html>
  <head>
    <title>Financial</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Blank Page</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "icon.png" %>
  </head>

  <body id="page-top">
    <%= render partial: "layouts/shared/navigation" %>
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <%= link_to home_index_path, class: "nav-link" do %>
            <i class="fa fa-fw fa-tachometer"></i>
            <span>Dashboard</span>
          <% end %>
        </li>

        <li class="nav-item">
          <% if policy(current_user).index? %>
            <%= link_to users_path, class: "nav-link" do %>
              <i class="fa fa-users"></i>
              <span>Usuários</span>
            <% end %>
          <% end %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-money"></i>
            <span>Expenses</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Options:</h6>
            <div class="dropdown-divider"></div>
            <%= link_to suppliers_path, class: "dropdown-item" do %>
              <span>Suppliers</span>
            <% end %>

            <div class="dropdown-divider"></div>
            <%= link_to categories_path, class: "dropdown-item" do %>
              <span>Categories</span>
            <% end %>

            <div class="dropdown-divider"></div>
            <%= link_to expenses_path, class: "dropdown-item" do %>
              <span>Expenses</span>
            <% end %>
            
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-money"></i>
            <span>Revenues</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Options:</h6>

            <div class="dropdown-divider"></div>
            <%= link_to incomes_path, class: "dropdown-item" do %>
              <span>Incomes</span>
            <% end %>

            <div class="dropdown-divider"></div>
            <%= link_to sources_path, class: "dropdown-item" do %>
              <span>Sources</span>
            <% end %>

            <div class="dropdown-divider"></div>
            <%= link_to kinds_path, class: "dropdown-item" do %>
              <span>Kinds</span>
            <% end %>
            
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-credit-card"></i>
            <span>Cards</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Options:</h6>
            <div class="dropdown-divider"></div>  
            <%= link_to cards_path, class: "dropdown-item" do %>
              <span>Credit Cards</span></a>
            <% end %>
          

            <div class="dropdown-divider"></div>
            <%= link_to expense_cards_path, class: "dropdown-item" do %>
              <span>Expenses Card</span></a>
            <% end %> 

            <div class="dropdown-divider"></div>
            <%= link_to invoice_index_path, class: "dropdown-item" do %>
              <span>Invoices</span></a>
            <% end %>    
          </div>
        </li>

        <li class="nav-item">
          <%= link_to accounts_path, class: "nav-link" do %>
            <i class="fa fa-fw fa-briefcase"></i>
            <span>Accounts</span></a>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to transfers_path, class: "nav-link" do %>
            <i class="fa fa-fw fa-exchange"></i>
            <span>Transfers</span></a>
          <% end %>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fa fa-fw fa-area-chart"></i>
            <span>Gráficos</span></a>
        </li>

      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
          <%= render 'layouts/shared/messages' %>
          <!-- Page Content -->
          <hr>
          <div class="d-flex justify-content-center">
            <div class="spinner-grow" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <%= yield %>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2019</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->  
    </div>
    <!-- /#wrapper -->
  </body>
</html>
