<h1><%= @accounts.model_name.human(count: 2) %></h1>
<div class="card shadow p-3 mb-5"> 
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th><%= @accounts.human_attribute_name("agency_number") %></th>
            <th><%= @accounts.human_attribute_name("account_number") %></th>
            <th><%= @accounts.human_attribute_name("bank") %></th>
            <th><%= @accounts.human_attribute_name("balance") %></th>
            <th><%= @accounts.human_attribute_name("user") %></th>
            <th><%= t('helpers.submit.actions') %></th>
          </tr>
        </thead>

        <tbody>
          <% @accounts.each do |account| %>
            <tr>
              <td><%= account.agency_number %></td>
              <td><%= account.account_number %></td>
              <td><%= account.bank %></td>
              <td><%= humanized_money_with_symbol account.balance %></td>
              <td><%= account.user.name %></td>
              <td><%= link_to edit_account_path(account), class: "btn btn-info btn-circle" do %><i class="fa fa-edit"></i><% end %>
              <%= link_to account_path(account), method: :delete, class: "btn btn-danger btn-circle", data: { confirm: 'Are you sure?' } do  %> <i class="fa fa-trash"></i> <% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>

    <%= link_to t('actions.new(a)', model: @accounts.model_name.human), new_account_path, class: "btn btn-primary" %>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <%= paginate @accounts %>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>


